name: C Kodu Testi

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Klonlama
      uses: actions/checkout@v2

    - name: Gereksinimleri yükle
      run: sudo apt-get update && sudo apt-get install -y build-essential

    - name: Kodu Derle ve Test Et
      run: |
        gcc -o fonksiyon fonksiyon.c
        if [ $(./fonksiyon | grep "10 + 2 = 12" | wc -l) -eq 1 ]; then echo "Toplama fonksiyonu testi geçti."; else echo "Toplama fonksiyonu testi başarısız oldu."; fi
        if [ $(./fonksiyon | grep "10 - 2 = 8" | wc -l) -eq 1 ]; then echo "Çıkarma fonksiyonu testi geçti."; else echo "Çıkarma fonksiyonu testi başarısız oldu."; fi
        if [ $(./fonksiyon | grep "10 * 2 = 20" | wc -l) -eq 1 ]; then echo "Çarpma fonksiyonu testi geçti."; else echo "Çarpma fonksiyonu testi başarısız oldu."; fi
        if [ $(./fonksiyon | grep "10 / 2 = 5.00" | wc -l) -eq 1 ]; then echo "Bölme fonksiyonu testi geçti."; else echo "Bölme fonksiyonu testi başarısız oldu."; fi
